<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFile" value=""/>
    <add key="workingFolder" value="D:\Projects\Genscript\trunk\temp\"/>
    <add key="BoundaryFixedVolume" value="20"/>
    <add key="EPVolume" value="30"/>
    <add key="labwareWellCnt" value="16"/>
    <add key="plateCnt" value="6"/>
  </appSettings>
</configuration>
