
SrcDestViceVerse/Utility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SrcDestViceVerse/Utility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SrcDestViceVerse/Utility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SrcDestViceVerse/Utility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SrcDestViceVerse/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
SrcDestViceVerse/Utility/obj/Debug/Utility.csprojResolveAssemblyReference.cache
SrcDestViceVerse/Utility/obj/Debug/Utility.dll
SrcDestViceVerse/Utility/obj/Debug/Utility.pdb
SrcDestViceVerse/SrcDestViceVerse/bin/Output/wklist.gwl
SrcDestViceVerse/SrcDestViceVerse/bin/Output/result.txt
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/Utility.pdb
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/Utility.dll
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/SrcDestViceVerse.vshost.exe.config
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/SrcDestViceVerse.vshost.exe
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/SrcDestViceVerse.pdb
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/SrcDestViceVerse.exe.config
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/SrcDestViceVerse.exe
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/Notifier.exe.config
SrcDestViceVerse/SrcDestViceVerse/bin/Debug/Notifier.exe
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/App.g.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/App.g.i.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/GeneratedInternalTypeHelper.g.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/MainWindow.baml
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/MainWindow.g.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/MainWindow.g.i.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.csproj.FileListAbsolute.txt
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.csproj.GenerateResource.Cache
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.csprojResolveAssemblyReference.cache
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.exe
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.g.resources
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.pdb
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse.Properties.Resources.resources
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse_MarkupCompile.cache
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse_MarkupCompile.i.cache
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse_MarkupCompile.i.lref
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/SrcDestViceVerse_MarkupCompile.lref
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SrcDestViceVerse/SrcDestViceVerse/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SrcDestViceVerse/Utility/bin/Debug/Utility.dll
SrcDestViceVerse/Utility/bin/Debug/Utility.pdb
