<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFile" value="F:\Projects\Genscript\AntiError.esc"/>
    <add key="workingFolder" value="F:\Projects\Genscript\genScript\temp\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
