<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFile" value=""/>
    <add key="workingFolder" value="F:\Projects\temp\"/>
    <add key="BoundaryFixedVolume" value="80"/>
    <add key="labwareWellCnt" value="24"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
