<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scriptFile" value=""/>
    <add key="workingFolder" value="D:\Projects\Genscript\trunk\temp\"/>
    <add key="BoundaryFixedVolume" value="20"/>
    <add key="EPVolume" value="30"/>
    <add key="Mix2Plate" value="false"/>
    <add key="labwareWellCnt" value="16"/>
    <add key="plateCnt" value="6"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
